.card_preview {
  padding: 1rem;
  margin: 0.8rem auto;
  display: flex;
  justify-content: flex-start;
  border-radius: 0.8rem;
  background-color: burlywood;
  width: 100%;
}

@media screen and (max-width: 57rem) {
  .card_preview {
    max-width: 90%;
  }
}

.card_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 1rem;
}

.text_info {
  flex: 1 1 80%;
}

.name {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
