.header {
  display: flex;
  background-color: rgb(139, 172, 161);
  padding: 1rem;
  align-items: center;
}

.title {
  flex: 1 1 90%;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.logOutBtn {
  flex: 1 1 50px;
  padding: 0.5rem 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.card_maker {
  flex: 1 1;
  padding: 1rem;
  margin: 0.8rem;
  background-color: blueviolet;
  border-right: 1px solid black;
}
